<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if pageDescription %}
        <meta name="description" content="{{pageDescription}}">
    {% endif %}
    <title>
        {% if pageTitle %}
            {{pageTitle}} |
        {% endif %}
        Conatum 
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" async>
    {% capture css %}
        {% include styles.css %}
    {% endcapture %}
    <style>
    {{ css | cssmin | safe }}
    </style>
</head>