<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFFFFF"/>
    {% if pageDescription %}
        <meta name="description" content="{{pageDescription}}">
    {% endif %}
    <title>
        {% if pageTitle %}
            {{pageTitle}} |
        {% endif %}
        Conatum 
    </title>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/images/icons-192.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" async>
    {% capture css %}
        {% include styles.css %}
    {% endcapture %}
    <style>
    {{ css | cssmin | safe }}
    </style>
    <script>
        if ("serviceWorker" in navigator)
            navigator.serviceWorker.register("/service-worker.js");
    </script>
</head>