<!doctype html>
<html lang="en">
    {% include head.liquid %}
    <body>
        {% include logo.liquid %}
        <hr/>
        {{ content }}
        {% include scripts.liquid %}
    </body>
</html>
