<!doctype html>
<html lang="en">
    {% include head.liquid %}
    <body class="markdown-body">
        {% include logo.liquid %}
        {{ content }}
        {% include scripts.liquid %}
    </body>
</html>
