<!doctype html>
<html lang="en">
    {% include head.liquid %}
    <body>
        <div id="top"></div>
        {% include logo.liquid %}
        <hr/>
        <h1>{{ pageTitle }}</h1>
        <time datetime="{{date}}">{{date}}</time>
        {{ content }}
        <a href="/">Back Home<a/> | <a href="#top">Back To Top<a/>
        {% include scripts.liquid %}
    </body>
</html>
