h1,
h2,
h3,
h4,
h5 {
  font-family: "Arial Black", Helvetica, sans-serif;
  font-weight: 600;
}

h1.logo {
  text-align: center;
  border-bottom: none;
  font-size: 3em;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

.link-spacer {
  margin: 0 1em;
}
